<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artigle</title>

    <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
</head>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="/admin/articles">
                Artigle
            </a>    
        
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/articles">Artigos</a>
                </li>
        
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">Categorias</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">Usuários</a>
                </li>
            </ul>
        </nav>

        <div class="container">
            <br><h2>Usuários</h2> 

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Email</th>
                        <th>Ações</th>
                    </tr>
                </thead>

                <tbody>
                    <% users.forEach(user=> { %>
                        <tr>
                            <th><%=user.id%></th>
                            <th><%=user.email%></th>
                            <th>
                                    <a href="/admin/users/edit/<%=user.id%>"><button class="btn btn-primary">Editar</button></a>
                                <form action="/users/delete" method="POST" style="display: inline" onsubmit="deleteConfirm(event, this)">
                                    <input type="hidden" name="id" value="<%= user.id%>">
                                    <button class="btn btn-secondary">Deletar</button>
                                </form>
                            </th>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <a href="/admin/users/create"><button class="btn btn-success">Castrar Novo Usuáario</button></a>
        </div>

    </body>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script>
    function deleteConfirm(event, form){
        event.preventDefault();
        let decision=confirm("Tem certeza que deseja deletar este usuário.")
        if (decision) {
            form.submit();
        }
    }
</script>
</html>